<section id="experience" class="experience-section">
  <h1 class="section-title">My Work Experience</h1>
  <div class="experience-card">
    <div class="timeline">Mar 2024 - Jun 2024</div>
    <div class="experience-info">
      <div class="role-title">
        Software Engineer &#64; FlyingFox Labs pvt Ltd.
      </div>
      <div class="role-description">
        <p>
          <li>Managed CI/CD processes using GitLab, and deployed applications using Kubernetes and Docker.</li>
          <li>Developed and maintained front-end features using React, ensuring a responsive and intuitive user interface.</li>
        </p>
      </div>
      <ul role="list" class="tech-list">
        <li>TypeScript</li>
        <li>React</li>
        <li>Block Chain</li>
        <li>JavaScript</li>
        <li>AWS</li>
      </ul>
    </div>
  </div>
  <div class="experience-card">
    <div class="timeline">Dec 2021 - Aug 2022</div>
    <div class="experience-info">
      <div class="role-title">Backend Developer &#64; Bitvivd Solution</div>
      <ul class="role-description">
        <li>Developed/maintained 5 scalable backend apps using Node.js, NestJS, TypeScript.</li>
        <li>
          Optimized data models, PostgreSQL/NoSQL databases, boosting app performance 20%
        </li>
      
      </ul>
      <ul role="list" class="tech-list">
        <li>Nodejs</li>
        <li>NestJS</li>
        <li>SQL</li>
        <li>JavaScript</li>
        <li>Docker</li>
      </ul>
    </div>
  </div>
  <div class="experience-card">
    <div class="timeline">Oct 2021 - Dec 2021</div>
    <div class="experience-info">
      <div class="role-title">Full Stack Developer Intern, &#64; Hirekarma</div>
      <ul class="role-description">
        <li>Developed React, Node.js, Express.js web apps with responsive UI/UX.</li>
        <li>
          Strengthened my grasp of UI/UX principles through hands-on practice, contributing to en- hancing the
          visual appeal and usability of applications.
        </li>
      
      </ul>
      <ul role="list" class="tech-list">
        <li>Laravel</li>
        <li>HTML</li>
        <li>JavaScript</li>
        <li>CSS</li>
        <li>SQL</li>
      </ul>
    </div>
  </div>
</section>
