<section class="about-section" id="about">
  <img
    ngSrc="/assets/about.webp"
    width="250"
    height="450"
    class="hero-image"
    ngSrcset="100w, 200w, 300w"
    alt="about image"
    priority
  />
  <div class="about-text">
    <h1 class="section-title">About Me</h1>
    <p>
      <span style="font-size: 2rem">👋</span> Hi, I'm Ashish, an enthusiastic
      <span>Full Stack Developer</span> with a strong passion for building engaging and
      high-performing web applications. I love creating solutions that prioritize user experience and
      functionality, and I thrive in dynamic, collaborative environments.
    </p>
    <p>
      I have professional experience in both front-end and back-end development, having worked at
      <span><a href="https://flyingfoxlabs.com" target="_blank" class="hyperlink">FlyingFox Labs</a></span>,
      where I managed CI/CD pipelines with GitLab and deployed applications using Kubernetes and Docker.
      My work in React focused on creating responsive and intuitive user interfaces.
    </p>
    <p>
      Previously, as a <span>Backend Developer</span> at Bitvivd Solution, I maintained scalable backend
      applications using Node.js, NestJS, and TypeScript, optimizing database models for performance.
      At <span>Hirekarma</span>, I contributed as a Full Stack Intern, developing React and Node.js web
      applications while enhancing UI/UX.
    </p>
    <p>
      My toolkit includes <span>React, Angular, Node.js, Python</span>, and more, paired with experience
      in databases like PostgreSQL and MySQL. I constantly seek to refine my skills and stay updated with
      the latest tech, as I believe in continuous growth and learning 📆.
    </p>
  </div>
</section>
